I don't know if I remember my haml syntax right, and no internet at the
moment...

%h1 title?
%div.nav 
  %a «
  January 25–February 1
  %a »
%table#cal
  %tr
    %th Time
    %th Sunday
    %th Monday
    %th Tuesday
    %th Wednesday
    %th Thursday
    %th Friday
    %th Saturday
  for each hour
    %tr
      %th.color1 hour
      %td ajax stuff
%div.footer
  %a About
  month, date dropdowns
