%html
  %head
    %title About Riker
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/week.css"}
    %style{:type => 'text/css'}
      body { background: black; }
  %body
    .mug
      %img{:src => '/images/surprised.jpg', :title => 'Commander Riker'}
    %h1 Riker
    %p
      It is common knowledge that in the 24th century, Commander William T.
      Riker is the first officer of the USS Enterprise, and therefore has
      charge of the duty roster of that ship.
    %p
      What is not common knowledge is that before he took that job, he helped
      the Fugal family manage the schedule for helping Jeniel to take care of
      Grant after his accident.
    %p 
      It was largely due to his performance in that capacity that Captain
      Picard chose him to be his first officer.

    %p Riker is watching you.
