%html
  %head
    %title Riker
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/week.css"}
  %body
    %h1 Riker
    .mug
      %img{:src => '/images/surprised.jpg', :title => 'Commander Riker'}
    %div#date 
      / links to go here...
      «
      %span= sunday
      &mdash;
      %span= saturday
      / ... and here
      »
    %table#cal
      %tr
        / maybe dates underneath day names would be nice?
        %th Time
        %th Sunday
        %th Monday
        %th Tuesday
        %th Wednesday
        %th Thursday
        %th Friday
        %th Saturday
      - hours.each do |hour|
        %tr
          %th= hour
          - slots.each do |day|
            - slot = day[:slots].detect{ |s| s.hour == hour }
            %td= (slot ? slot.label : '')
    %div#footer
      date, layer dropdowns.
      %a About
