/* how to center the calendar? */
#main {
  text-align: center;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 0;
}
#date {
  padding: 1em;
}

#cal {
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#cal td {
    height: 1.5em;
    min-width: 6em;
    padding: 0.2em;
}

#cal th {
  background-color: silver;
}
#cal th.hour {
  text-align: right;
}

#footer {
  padding: 1em;
}

/* float right probably isn't best, but this is just the dev pic anyway :) */
.mug {
    float: right;
}
td {
    border: thin solid black;
}
td:hover {
    background: #8f8;
}

/* shift colors */
.h8 { background: #a9ffff; }
.h9,.h10,.h11,.h12 { background: #fdff74; }
.h13,.h14,.h15 { background: #a8ffba; }
.h16 { background: #d27aff; }
.h17,.h18 { background: #ffc07e; }
.h19,.h20 { background: #ff78c4; }

body {
    background: black url('/images/portrait.jpg') no-repeat;
    color: gray;
}
table {
    background: white;
    color: black;
}
a:link { color: #22b; text-decoration: none; }
a:visited { color: #700; }
a:hover { text-decoration: underline; }

/* make the IPE look a little better */
.inplaceeditor-form {
  margin: 0;
  width: 100%;
}

.inplaceeditor-form input[type=text] {
  width: 100%;
}

@media print {
    body { background: white; color: black; }
    #footer { display: none; }
    /* apparently only opera supports this */
    @page { size: landscape; }
}
