#date {
  padding: 1em;
}

#cal {
  border-collapse: collapse;
}

#cal th, td {
  padding: 0.2em 1em;
}

#cal th {
  background-color: silver;
}

#footer {
  padding: 1em;
}

.mug {
    float: right;
}
